--/* base styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background: #fff;
  color: #434455;
  max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15x;
  margin: 0 auto;
}

/* #region header */
header {
  background: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  padding: 24px;
}

.address-nav-list {
  display: flex;
  gap: 40px;
  padding: 24px;
}

.header-span {
  color: #2e2f42;
}
.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-right: 78px;
}
.header-nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}
.header-nav-item:focus,
.header-nav-item:hover {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.address-link:focus,
.address-link:hover {
  color: #404bbf;
}
/* #endregion header */

/* #region main */

/* #region section effective-solutions */
.effective-solutions {
  background: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.effective-h {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.order-service-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;
  padding: 16px 32px;
  border-radius: 4px;
}

.order-service-button:focus,
.order-service-button:hover {
  background-color: #404bbf;
}
/* #endregion section effective-solutions */
/* #region section advantages */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.advantages-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-p {
}
/* #endregion section advantages */
/* #region Our Team */

.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-our-team ul {
  display: flex;
  justify-content: space-between;
}

.our-team-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-li {
  background-color: #ffffff;
}
.our-team-li img {
  margin-bottom: 32px;
}
.our-team-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.our-team-p {
  font-size: 16px;
  text-align: center;
  padding-bottom: 32px;
}
/* #endregion Our Team */
/* #region Our Portfolio */

.section-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-our-portfolio ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-our-portfolio li {
  width: calc((100% - 24px * 2) / 3);
}

.our-portfolio-list-one li {
  margin-bottom: 48px;
}
.our-portfolio-list-one img {
  margin-bottom: 38px;
}

.our-portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-portfolio-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #endregion Our Portfolio */

/* #endregion main */

/* #region footer */
.footer {
  background: #2e2f42;
}

.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-p {
  color: #f4f4fd;
  width: 264px;
}
.footer-logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 15px;
}
.span-studio {
  color: #f4f4fd;
}
/* #endregion footer */
